a4/model.bin.optim
a4/model.bin
a5/src/__pycache__/attention.cpython-311.pyc
a5/src/__pycache__/dataset.cpython-311.pyc
a5/src/__pycache__/model.cpython-311.pyc
a5/src/__pycache__/trainer.cpython-311.pyc
a5/src/__pycache__/utils.cpython-311.pyc
a5/vanilla.pretrain.test.predictions
a5/vanilla.pretrain.params
a5/vanilla.pretrain.dev.predictions
a5/vanilla.nopretrain.test.predictions
a5/vanilla.nopretrain.dev.predictions
a5/vanilla.model.params
a5/vanilla.finetune.params
a5/perceiver.pretrain.test.predictions
a5/perceiver.pretrain.params
a5/perceiver.pretrain.dev.predictions
a5/perceiver.finetune.params
a5/scripts/run_perceiver.sh
a5/scripts/run_vanilla_no_pretraining.sh
a5/scripts/run_vanilla.sh
